/*body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #333;
    color: #b1b1b1;
}

.btn-default {

}  
    */
.inner-div {
    padding: 5px 15px 5px 15px;  
    -webkit-box-shadow: 1px 1px 8px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 1px 8px -3px rgba(66, 68, 90, 1);
    box-shadow: 1px 1px 8px -3px rgba(66, 68, 90, 1);
}

.col-md-4 {
    margin-top: 15px
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    color: #eee;
    background-image: url(https://www.telepolis.pl/images/2022/01/RTX-3080-12-GB.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #000;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}