{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<p>Aplikacja ma za zadanie odszukanie kart graficznych i wyświetlenie cen ich odpowiednich modeli</p>
<p>
    Wraz z problemami w łańcuchu dostaw jak i brakami krzemu na świecie znalezienie obecnie oferty na różne komponenty komputerowe okazuje się nie lada wyzwaniem.
    W przeciągu zaledwie kilku miesięcy od wprowadzenia na rynek nowej serii kart graficznych Nvidia RTX 3000 series ich cena wzrosła ponad 2 krotnie.
</p>
<p>
    Nie jest to jednak jedyny problem podczas kupowania tych komponentów. Sama cena odstrasza, ale nawet przy tak dużym narzucie ciężko jest znaleźć ofertę, która byłaby aktualna,
    a kartę możnaby było fizycznie zamówić. Aplikacja ta ma pomóc właśnie w takim przeszukiwaniu ofert.
</p>

{% endblock %}
